.header {
    padding: 0 10%;
    text-align: center;
    padding: 1rem 0 0rem 1rem;
    z-index: 2;
    background: white;
    &--accueil{
      .header__arrow{
        display: none;
      }
      .header__lien{
        margin-left:0;
      }
    }
    &__lien {
      font-family: "Shrikhand", cursive;
      color: black;
      transform: translateX(-0.7rem);
      font-size: 2rem;
      font-weight: 400;
      &--accueil{
        transform: translateX(0);
      }
    }
    &__arrow{
      color: $gris-20;
      font-size: 1.5rem;
      float: left;
      line-height: 2;
      &--accueil{
        display: none;
      }
    }
  }