$loading-delay:5s;
$loader-disparition-duration:0.8s;
$loader-disparition-function:cubic-bezier(0.36, 0, 0.66, -0.56);
$letter-rotation-duration:1.4s;
$letter-rotation-delay:0.1s;
$letter-rotation-function:cubic-bezier(0.76, 0, 0.24, 1);
@debug $letter-rotation-delay;
// body {
//     overflow: hidden;
//     animation: body-overflow 0.01s $loading-delay+$loader-disparition-duration forwards;
//   }
.loader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #f6f6f6;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    animation: loader-disparition $loader-disparition-duration $loader-disparition-function $loading-delay forwards;
    &__titre {
      width: 100%;
      height: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
      font-family: "Shrikhand", cursive;
      font-size: 2rem;
      margin-bottom: 0rem;
      perspective: none;
      span {
        height: 1.5rem;
        line-height: 1.5rem;
        display: inline-block;
        perspective: none;
      }
      &--original {
        display: inline-block;
        span {
          transform-origin: bottom;
          @for $i from 1 to 9 {
            &:nth-child(#{$i}) {
              animation: letter-rotation-top $letter-rotation-duration $letter-rotation-function #{$i * $letter-rotation-delay} infinite alternate;
            }
          }
        }
      }
      &--copy {
        span {
          transform: rotateX(-90deg);
          transform-origin: top;
          @for $i from 1 to 9 {
            &:nth-child(#{$i}) {
              animation: letter-rotation-bottom $letter-rotation-duration $letter-rotation-function #{$i * $letter-rotation-delay} infinite alternate;
            }
          }
  
        }
      }
    }
  }

  @keyframes letter-rotation-top {
    0% {
      transform:translateY(0) rotateX(0);
    }
    100% {
      transform:translateY(-1.5rem) rotateX(90deg);
    }
  }
  @keyframes letter-rotation-bottom {
    0% {
      transform:translateY(0) rotateX(-90deg);
    }
    100% {
      transform:translateY(-1.5rem) rotateX(0);
    }
  }
  
  @keyframes body-overflow {
    99% {
      overflow: hidden;
    }
    100% {
      overflow: auto;
    }
  }
  @keyframes loader-disparition {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }